.EntriesContainer {
  display: flex;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1455218873509-8097305ee378?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    center center no-repeat;
  background-size: cover;
}

.EntriesWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.ui.button.showmodal--button {
  position: absolute;
  right: 0;
  margin: 20px;
}

i.red.big.icon.delete-button {
  font-size: 1.5em;
  cursor: pointer;
}

button.ui.icon.left.labeled.button {
  position: absolute;
  bottom: 0;
  margin-left: 250px;
  margin-bottom: 60px;
}

.TableContainer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 750px;
  display: flex;
  flex-direction: column;
  height: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.HeaderContainer {
  display: grid;
  grid-template-columns: 187.5px 187.5px 187.5px 187.5px;
  text-align: center;
}

.HeaderContainer > div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.EntryContainer {
  display: grid;
  grid-template-columns: 187.5px 187.5px 187.5px 187.5px;
  padding: 10px 0px;

  text-align: center;
}

.EntryContainer > div {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
}
